:root {
    --neutral: #d8bebf;
    --neutral-100: #f5efef;
    --neutral-200: #efe5e5;
    --neutral-300: #e8d8d9;
    --neutral-400: #e0cbcc;
    --neutral-500: var(--neutral);
    --neutral-600: #ad9899;
    --neutral-700: #827273;
    --neutral-800: #564c4c;
    --neutral-900: #2b2626;
}
