:root {
    --pj-accent: #f0ec13;
    --pj-accent-100: #fcfbd0;
    --pj-accent-200: #f9f7a1;
    --pj-accent-300: #f6f471;
    --pj-accent-400: #f3f042;
    --pj-accent-500: var(--pj-accent);
    --pj-accent-600: #c0bd0f;
    --pj-accent-700: #908e0b;
    --pj-accent-800: #605e08;
    --pj-accent-900: #302f04;
}
