:root {
    --pj-primary: #7612ef;
    --pj-primary-100: #c8a0f9;
    --pj-primary-200: #ad71f5;
    --pj-primary-300: #9141f2;
    --pj-primary-400: #000;
    --pj-primary-500: var(--pj-primary);
    --pj-primary-600: #5e0ebf;
    --pj-primary-700: #470b8f;
    --pj-primary-800: #2f0760;
    --pj-primary-900: #180430;
}
