/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.pg-menu {
    & .offcanvas-header {
        background-color: var(--neutral-100);
        color: var(--neutral-700);
        display: initial;
        padding: calc(1rem * 1.3);
        padding-bottom: calc(1rem * 0.5);
        padding-top: calc(1rem * 0.5);

        & .bi {
            display: block;
            float: right;
            color: var(--neutral-900);
        }
    }

    & .offcanvas-body {
        padding: 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
}

/* Print Styles */
@media print {
}
